@import url("setting");

header.admin {
    .menu .menu-r {
        .timeshow { width: fit-content;
            .date { font-size: 12px; }
            .timeshow-flex { display: flex; flex-flow: nowrap; align-items: center; 
                .country-flag { display: flex; flex-flow: nowrap; justify-content: center; align-items: center; margin-right: 3px;
                    > img { width: auto; height: 16px; }
                }
            }
        }
    }
    .menu .menu-r .timeshow:first-child { padding-right: 15px; border-right: 1px solid @color-lighter; }

    .menu .menu-r.current { right: 20px; }
}

@media (max-width: 820px) {
    header.admin {
        .menu .menu-r.current { right: 0;
            .flex-nowrap { display: flex !important; flex-flow: nowrap; justify-content: space-between; margin-bottom: 20px; align-items: center; 
                .timeshow { width: calc(50% - 10px); }
                .timeshow:first-child { margin-right: 20px; }
            }
        }
    }
}

.container.admin, .container-gk.admin {
    > h2 { margin-bottom: 0; }
}

/* Schedule */
.schedule-wrap { width: 100%; max-width: 1000px; margin: 0 auto; padding: 20px 15px 0 15px; 
    h4 { text-align: center; }
    .options { margin: 30px auto 50px auto; text-align: center;
        display: flex; flex-flow: nowrap; justify-content: space-between; align-items: flex-start;
        > div { width: 100%; 
            a { display: block; width: 95%; padding: 10px 5px; margin: 0 auto 10px auto; 
                color: @color-cisbase; font-size: 18px; border: 2px solid @color-cisbase; background: @color-white; border-radius: 10px; }
            a:hover { background: @color-cisbase-light; }
            a.current { color: @color-white !important; background: @color-cisbase; }
            a.lesson--reserved { color: @color-yellow; border-color: @color-yellow; cursor: text; opacity: 0.5; }
            a.lesson--reserved.current { color: @color-dark !important; background: @color-yellow; }
            a.lesson--standard { color: @color-green;  border-color: @color-green; }
            a.lesson--standard.current { background: @color-green; }
            a.lesson--free { color: @color-cisbase;  border-color: @color-cisbase; }
            a.lesson--free.current { background: @color-cisbase; }
        }
    }
}

@media (max-width: 820px) {
    .schedule-wrap { 
        .options { gap: 10px;
            > div { 
                a { font-size: 16px; 
                    i { display: block; margin: 0 auto; }
                }
            }
        }
    }
}

/* Payment */
.container.payment, .container-gk.payment { background: @color-white; }
.payment-wrap { width: 100%; max-width: 1200px; margin: 0 auto; padding: 15px 15px 0 15px;
    h2 { display: flex; flex-flow: nowrap; justify-content: center; align-items: center; padding: 20px; gap: 20px;
        > a { display: inline-block; padding: 8px 12px; color: @color-blue; font-size: 16px; font-weight: normal; border: 2px solid @color-blue; border-radius: 5px; transition: 0.3s; }
        > a:hover { color: @color-white; background: @color-blue; }
    }

    .search-bar { position: sticky; top: 90px; display: flex; flex-flow: nowrap; justify-content: center; align-items: center; padding: 10px; gap: 10px; background: @color-cisbase-light; border-radius: 5px; z-index: 1;
        .form-row__field { position: relative; display: inline-flex; align-items: center; width: 100%; max-width: 200px; 
            select { width: 100%; height: 40px; padding: 5px 30px 5px 10px; border: 1px solid @color-light; background: @color-white; border-radius: 5px; }
            .icon-btn { display: block; position: absolute; right: 0; top: 5px; bottom: 0; margin: auto 0; padding: 5px 10px; color: @color-normal; background: none; }
            .icon-btn.select { pointer-events: none; } 
        }
        .basic-btn { height: 40px; margin: 0; border-radius: 5px; }
    }

    .payment-list { padding: 20px 10px;
        > div { margin: 20px 0; }
        .form-row { display: flex; flex-flow: nowrap; justify-content: space-between; margin: 20px 0;
            .form-row__name { width: 200px; margin-right: 20px; color: @color-cisbase; font-weight: bold; }
            .form-row__field { width: calc(100% - 220px); }
        }
    }

    .payment-detail { background: @color-white; border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        h4 { padding: 20px; color: @color-cisbase; font-size: 20px; font-weight: bold; text-align: center; border-bottom: 1px solid @color-lighter; }
    }

    .payment-group { padding: 20px 10px; border-bottom: 1px solid @color-lighter;
        table { width: 100%; margin: 0 auto; text-align: left; 
            th, td { width: 33.3%; padding: 10px; }
        }
    }
    .payment-group:last-child { border-bottom: none; }

    .bonus-content { padding: 0 10px; line-height: 160%;
        > div { margin: 20px 0; }
    }
}

@media (max-width: 820px) {
    .payment-wrap {
        .payment-list { 
            .form-row { flex-flow: wrap; 
                .form-row__name { width: 100%; margin-right: 0; }
                .form-row__field { width: 100%; }
            }
        }
    }
}

/* teacher setting */
.setting-wrap { position: relative; width: 100%; max-width: 1240px; margin: 0 auto; padding: 10px 30px 30px 30px; 
    background: @color-white; border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

    .tabs { position: sticky; top: 85px; z-index: 1; 
        > a:not(.current) { background: @color-lightist; }
        > a:not(.current):hover { background: @color-cisbase-light; }
    }

    .updatebar { position: sticky; width: 100%; bottom: 0; padding: 10px 20px; text-align: center; background: rgba(255, 255, 255, 0.9); 
        .basic-btn { min-width: 300px; padding: 10px 25px; margin: 0 auto; font-size: 20px; }
    }

    .form-row { width: 100%; margin: 20px auto; 
        .form-row__name { display: block; margin-bottom: 5px; font-size: 14px; font-weight: bold; color: @color-cisbase; text-align: left; 
            p { margin: 10px 0; }
        }

        .form-row__field { position: relative; display: flex; flex-flow: nowrap; align-items: center;
            a { text-decoration: underline; }
            span { margin-left: 10px; white-space: nowrap; 
                > i { display: inline-block; }
            }
            .verify i { color: @color-green; }
            .no-verify i { color: @color-red; }

            input[type=text], input[type=email], input[type=password], input[type=number], select { width: 100%; height: 40px; padding: 5px 15px; border: 1px solid @color-light; background: none; border-radius: 5px; }
            input[type=radio], input[type=checkbox], input[type=file] { display: none; }
            input[type=radio] + label, input[type=checkbox] + label { display: flex; flex-flow: nowrap; align-items: center; margin-right: 20px;
                .icon { display: inline-flex; flex-flow: nowrap; justify-content: center; align-items: center; 
                    width: 20px; height: 20px; margin-right: 5px; border-radius: 99em; border: 3px solid @color-lighter; 
                        > i { display: none; font-size: 15px; }
                }
            }
            input[type=checkbox] + label {
                .icon { border-radius: 5px; }
            }

            input[type=radio]:checked + label, input[type=checkbox]:checked + label { 
                .icon { color: @color-white; background: @color-cisbase; border: none;
                        > i { display: block; }
                }
            }

            textarea { display: block; width: 100%; height: 200px; padding: 10px; background: @color-lightist; border-radius: 5px; }

            .icon-btn { display: block; position: absolute; right: 0; top: 0; bottom: 0; margin: auto 0; padding: 5px 10px; color: @color-normal; background: none; }
            .icon-btn:hover { display: block; }
            .icon-btn.select { pointer-events: none; }
            .basic-btn { width: auto; max-width: auto; padding: 10px 25px; margin: 0 auto; font-size: 16px; }
            .basic-btn.gray { background: @color-lighter; cursor: text; }

            .head-pic-upload { position: relative; width: 100px; margin: 0 auto;
                .head-pic { position: relative; display: block;  width: 100px; height: 100px; 
                    border-radius: 99em; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); overflow: hidden;
                    > img { position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0; margin: auto; object-fit: cover; }
                }
                .edit { position: absolute; right: 0; bottom: 0; width: 35px; height: 35px; padding: 5px; background: @color-cisbase; border-radius: 99em; 
                    > i { font-size: 16px; color: @color-white; }
                }
            }

            .setting__switch { width: 36px; margin-right: 15px;
                input[type=checkbox] { display: none; }
                input[type=checkbox] + label { display: block; position: relative; width: 44px; height: 24px; background: @color-white; border: 2px solid @color-lighter; border-radius: 99em; 
                    .switch__inner { display: block;
                        width: 200%; margin-left: -100%;
                        transition: margin 0.3s ease-in 0s;
                    }
                    .switch__switch { display: block; position: absolute;
                        width: 18px; height: 18px; margin: auto; top: 0; bottom: 0; right: 20px;
                        background: @color-lighter; border-radius: 99em; transition: all 0.3s ease-in 0s;
                    }
                }

                input[type=checkbox]:checked + label {
                    background: @color-green; border-color: @color-green;
                    .switch__inner { margin-left: 0; }
                    .switch__switch { right: 2px; background: @color-white; }
                }
            }
        }
        .form-row__field.switch-option, .form-row__field.select-option { flex-flow: wrap; margin: 10px 0;
            > b { margin: 0 10px 10px 0; }
            .column { position: relative; display: inline-flex; flex-flow: nowrap; align-items: center; width: fit-content; margin: 0 10px 10px 0; 
                select { width: 100%; padding: 5px 30px 5px 10px; }
                .state { white-space: nowrap; 
                    > i { margin-right: 3px; } 
                }
                .certifing { color: @color-cisbase; }
                .certified { color: @color-green; }
            }
        }
        .form-row__field.switch-option { margin-bottom: 30px; 
            .column { margin: 10px 20px 10px 0; }
        }
        .form-row__field.select-option + .form-row__field:not(.select-option) { margin: 0 0 30px 0; }

        .form-row__field.verify {
            input[type=text], input[type=email], input[type=password], input[type=number] { border-radius: 5px 0 0 5px; }
            .basic-btn { width: 70%; max-width: 200px; height: 40px; padding: 0; margin: 0; border-radius: 0 5px 5px 0; box-shadow: none; }
            .basic-btn.disabled { background: @color-lighter; cursor: text; }
        }
        .error-msg { margin-top: 5px; color: @color-red; text-align: left; }

        .add-btn { padding: 10px 25px; color: @color-blue; font-weight: bold; background: @color-white; border: 2px solid @color-blue; border-radius: 25px; transition: 0.3s; }
        .add-btn:hover { color: @color-white; background: @color-blue; }

        .delete-btn { padding: 11px 25px; color: @color-white; font-weight: bold; background: @color-lighter; border-radius: 5px; transition: 0.3s; }
    }
    .form-row.focus {
        .form-row__name { color: @color-red; }
        .form-row__field { 
            input[type=text], input[type=email], input[type=password], input[type=number] { border: 3px solid @color-red; }
        }
    }
    .form-row.nowrap { display: flex; flex-flow: nowrap; justify-content: center; align-items: center; 
        .form-row__name { margin-right: 10px; font-size: 18px; }
        .form-row__field { min-width: 100px;
            > select { padding-right: 35px; }
        }
    }

    .profile-section { display: flex; flex-flow: nowrap; justify-content: center; align-items: flex-end;
        margin: 0 auto; font-size: 20px; text-align: center; 
        .form-row.left { width: calc(100% - 20px); margin-right: 20px;
            .basic-btn { margin: 10px auto 0 auto; color: @color-blue; font-weight: bold; background: @color-white; border: 2px solid @color-blue; box-shadow: none; }
        }
        .form-row.right { width: 100%; }
    }

    .video-section { display: flex; flex-flow: nowrap; justify-content: space-between;
        .videowrap { width: calc(100% - 20px); margin-right: 20px; }
        .video-url { width: 100%; }
    }

    .album { margin: 40px auto;
        > h2 { display: block; padding: 0; margin-bottom: 5px; font-size: 14px; font-weight: bold; color: @color-cisbase; text-align: left; }
        .photos { display: flex; flex-flow: wrap; justify-content: stretch; align-items: stretch; gap: 5px; 
            > * { position: relative; display: block; width: calc(20% - 5px); padding: 0; background: @color-lightist;
                > img { display: block; width: 100%; height: 160px; object-fit: cover; }
                .no-photo { display: flex; flex-flow: nowrap; justify-content: center; align-items: center; 
                    width: 100%; height: 160px; color: @color-lighter; font-size: 64px; }
                .btn { width: 100%; padding: 10px; color: @color-white; text-align: center; }
                .btn.delete { background: @color-lighter; }
                .btn.add { background: @color-blue; }
            }
            input[type=file] { display: none; }
        }
    }
}

@media (max-width: 820px) {
    .setting-wrap { padding: 10px 20px 30px 20px;
        .form-row {
            .form-row__field.switch-option, .form-row__field.select-option {
                .column { display: flex; width: 100%; }
                .column.half { width: calc(45% - 10px); }
            }
            .form-row__field.select-option { margin-bottom: 20px; }
        }

        .profile-section { flex-flow: wrap; 
            .form-row.left { width: 100%; margin-right: 0; }
            .form-row.right { margin-top: -20px; }
        }

        .video-section { flex-flow: wrap; 
            .videowrap { width: 100%; margin-right: 0; }
        }

        .album .photos { 
            > * { width: calc(50% - 5px);
                > img { height: 120px; }
            }
        }
    }
}

/* 課程設定 */
.container.admin, .container-gk.admin {
    .setting-wrap .panel .plan-wrap { margin: 30px auto 20px auto; display: flex; flex-flow: wrap; justify-content: center;
        .plan-group { position: relative; width: calc(50% - 40px); margin: 20px 20px 30px 20px; padding: 20px; background: @color-white; border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
        .plan-group.add .form-row .form-row__field { justify-content: center; }
    }
}

.container.admin, .container-gk.admin {
    .setting-wrap .panel.panel-formal .plan-wrap { counter-reset: num; justify-content: space-between;
        .plan-group:not(.add):before { position: absolute; display: flex; flex-flow: nowrap; justify-content: center; align-items: center;
        width: 50px; height: 50px; top: -20px; left: 0; right: 0; margin: 0 auto;
        font-size: 24px; color: @color-cisbase; background: @color-cisbase-light;  border-radius: 99em;  
        counter-increment: num; content: counter(num); }
    }
}

@media (max-width: 820px) {
    .container.admin, .container-gk.admin {
        .setting-wrap .panel .plan-wrap { 
            .plan-group { width: 100%; margin: 10px auto 50px auto; }
        }
    }
}